.jumbotron {
    background-color: yellow;
    color:black;
    margin-top: 50px;
    }

footer {
    padding:10px 10px 0 10px;
    background-color:yellow;
    margin-bottom:0;
    margin-top:10px;
    }

.btn {
    color:yellow;
}

.card-hotel {
    flex: 1 100px;
    margin-top:10px;
    margin-right: 0;
}

.btn-reserva {
    width:100%;
    border-radius:0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.card-title {
    height: 50px;
}

.img-fluid {
    width: 100%;
}

.card-nuevo {
    color:crimson;
}

.tab-content {
    padding-top:10px;
}
.card {
    margin-top:20px;
}

.btn-success {
   margin-bottom:10px;
}

.red{
    background-color: greenyellow;
}