.jumbotron {
  background-color: #fff317;
  color: black;
  margin-top: 50px;
  margin-bottom: 0;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #e800d4;
  margin-top: 10px;
  margin-bottom: 50px;
}
.btn {
  color: yellow;
}
.card-hotel {
  flex: 1 100px;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
  background-color: #028869;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.card-body {
  background-color: #fadcaa;
}
.card-title {
  height: 50px;
}
.img-fluid {
  width: 100%;
}
.card-nuevo {
  color: crimson;
}
.tab-content {
  padding-top: 10px;
}
.card {
  margin-top: 20px;
  margin-bottom: 0;
}
.btn-success {
  margin-top: 0px;
  margin-bottom: 10px;
}
.green {
  background-color: #e800d4;
}
