@yellow:#fff317;
@red:#e800d4;
@cuerpo1:#028869;
@cuerpo2:#fadcaa;

.jumbotron {
  background-color: @yellow;
  color: black;
  margin-top: 50px;
  margin-bottom: 0; }

footer {
  padding: 10px 10px 0 10px;
  background-color: @red;
  margin-top: 10px;
  margin-bottom: 50px; }

.btn {
  color: yellow; }

.card-hotel {
  flex: 1 100px;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
  background-color: @cuerpo1; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.card-body {
  background-color: @cuerpo2; }

.card-title {
  height: 50px; }

.img-fluid {
  width: 100%; }

.card-nuevo {
  color: crimson; }

.tab-content {
  padding-top: 10px; }

.card {
  margin-top: 20px;
  margin-bottom: 0; }

.btn-success {
  margin-top: 0px;
  margin-bottom: 10px; }

.green {
  background-color: @red; }
