$encabezado:#bb2205;
$cuerpo1:#f6830f;
$cuerpo2:#0e918c;
$pie:#d2d3c9;

@mixin margenes($top,$bottom){
    margin-top:$top;
    margin-bottom:$bottom;
}

.jumbotron {
    background-color: $encabezado;
    color:black;
    @include margenes(50px,0);
    }

footer {
    padding:10px 10px 0 10px;
    background-color:$pie;
    @include margenes(10px,50px);
        }

.btn {
    color:yellow;
}

.card-hotel {
    flex: 1 100px;
    @include margenes(10px,0);
    margin-right: 0;
    background-color: $cuerpo1;
}

.btn-reserva {
    width:100%;
    border-radius:0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.card-body {
    background-color: $cuerpo2;
}

.card-title {
    height: 50px;
}

.img-fluid {
    width: 100%;
}

.card-nuevo {
    color:crimson;
}

.tab-content {
    padding-top:10px;
}
.card {
    @include margenes(20px,0);
}

.btn-success {
   @include margenes(0px,10px);
}

.green{
    background-color: $pie;
}