.jumbotron {
  background-color: #bb2205;
  color: black;
  margin-top: 50px;
  margin-bottom: 0; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #d2d3c9;
  margin-top: 10px;
  margin-bottom: 50px; }

.btn {
  color: yellow; }

.card-hotel {
  flex: 1 100px;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
  background-color: #f6830f; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.card-body {
  background-color: #0e918c; }

.card-title {
  height: 50px; }

.card-subtitle {
  color: #bb2205; }

.img-fluid {
  width: 100%; }

.card-nuevo {
  color: crimson; }

.tab-content {
  padding-top: 10px; }

.card {
  margin-top: 20px;
  margin-bottom: 0; }

.btn-success {
  margin-top: 0px;
  margin-bottom: 10px; }

.green {
  background-color: #d2d3c9; }

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}

section 
{
    position:relative;
    width:100%;
    height: 50vh;
    background: #0e918c;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: :hidden;
    }
section h2 {
    position:relative;
    font-size: 4em;
    color: #fff;
    z-index: 10000;
    top:-30px;
    mix-blend-mode: overlay;
}
section video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
}
